.DS_Store

source/javascripts/swiftype.js
source/javascripts/twitter.js
source/javascripts/vendor
source/posts/ideas.markdown
source/images/*
.byebug_history

# source/posts

# Ignore build results
build/