.card {
  position: relative;
  width: 100%;
  max-width: 189px;
  margin: 0 auto;
  height: 190px;
  margin-bottom: 10px;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 189px;
  height: 189px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
          transition: transform 1s;
}

#last-card .card-front, #last-card .card-back {
  height: 100%;
}

.question .card-front, .question .card-back {
  background-color: #000000;
}

.answer .card-front, .answer .card-back {
  background-color: #FFFFFF;
  border: 1px solid black;
}

.card-back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-front:hover, 
.card-back:hover {
  cursor: pointer;
}

.card.flipped .card-front, #last-card.flipped .card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.flipped .card-back, #last-card.flipped .card-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

img {
  max-width: 100%;
}

#main .row {
  margin: 0;
}

.scrubber {
  width: 100%;
}

.well {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-wrapper {
  text-align: center;
}

#play-area {
  display: none;
}

.mini-black {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.mini-white {
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.question-wrapper, .answer-wrapper {
  position: relative;
  width: 8.47%;
  padding-bottom: 8.47%;
  display: inline-block;
}

.card-text {
  position: relative;
  top: 50%;
  -webkit-transform: rotateY(0);
          transform: translateY(-50%);
  text-align: center;
}

#demo-buttons {
  text-align: center;
}

#demo-buttons .btn {
  width: 30%;
}

#pulse {
    border: 3px solid #86CB92;
    -webkit-border-radius: 50%;
    height: 50%;
    width: 50%;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
    margin: -15% auto 0;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.white-text {
  color: #FFF;
}

#runningCount {
  width: 20%;
}