.graph-wrapper {
  position: relative;
  width: 100%;
}

.graph-wrapper:before {
  content: "";
  display: block;
  padding-top: 60%;
}

#graph {
  margin: 0 15px 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dcg-show-expressions-tab,
.dcg-action-zoomrestore {
  display: none;
}

.col-xs-3.text-center {
  line-height: 34px;
}

.scrubber {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  height: 25px;
}

.input-group, #n-slider {
  margin-left: 15px;
}

#n-val {
  min-width: 48px;
}

#n-slider {
  width: 100%;
  display: flex;
  align-items: center;
}

.upper-bound-toggle:checked + label {
  background-color: #9BBB59;
}

.upper-bound-toggle:checked + label:after {
  left: 4px;
  background-color: #9BBB59;
}

.rect, .switch {
  display: inline-block;
}

.switch {
  margin-left: 5px;
}

.flexrow {
  margin: 10px 0;
}

.flexrow div[class^="col-xs"] {
  display: flex;
  align-items: center;
}