circle {
	opacity: 0;
	transition: opacity 0.4s;
}

.visible {
	opacity: 1;
}

.scrubber {
	width: 95%;
	margin: 0 auto;
}

.summer {
	fill: rgb(51,122,183);
}

.holiday {
	fill: rgb(217, 83, 79);
}

/* checkboxes, inspired by http://callmenick.com/post/css-toggle-switch-examples */

.switch {
	display: inline-block;
}

.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
  transition: background 0.4s;
  margin-bottom: 0;
}

.toggle + label:before,
.toggle + label:after {
  display: block;
  position: absolute;
  content: "";
}

.toggle + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}

.toggle + label:after {
  top: 4px;
  left: 34px;
  bottom: 4px;
  width: 22px;
  background-color: #dddddd;
  border-radius: 22px;
  transition: margin 0.4s, background 0.4s, left 0.4s;
}

.summer-toggle:checked + label {
  background-color: rgb(51,122,183);
}

.summer-toggle:checked + label:after {
  left: 4px;
  background-color: rgb(51,122,183);
}

.holiday-toggle:checked + label {
	background-color: rgb(217, 83, 79);
}

.holiday-toggle:checked + label:after {
	left: 4px;
	background-color: rgb(217, 83, 79);
}

#options td {
	vertical-align: middle;
}