/* header area */

$header-bg: #2E303C;
$header-height: 4em;
$link-color-light: #25A5C4;
$link-color: #482B25;
$date-color: #CF7FF4;
$line-color: #86CB92;

* {
	font-family: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

h2, h2 a {
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

.katex:not(.size-exempt), .mathit, .reset-textstyle.textstyle {
	font-family: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !important;
	
}

.katex:not(.size-exempt) {
	font-size: 16px !important;
}

header {
	background-color: $header-bg;
	height: $header-height;
	width: 100%;
}

header a, 
header a:hover,
header a:focus,
header a:active {
	color: #FFF;
	text-decoration: none;
}

nav a, #logo {
	padding: 0 10px;
	line-height: $header-height;
}

/* homepage body */

body {
	clear: both;
	font-size: 16px;
	overflow-x: hidden;
}

a {
	color: $link-color-light;
}

.row {
	background: rgba(46,48,60,0.1);
	margin-left: 0;
	margin-right: 0;
}

a:hover,
a:focus,
a:active {
	color: $link-color;
	text-decoration: none;
}

#main {
	margin: 20px;
	background: #fff;
	border-radius: 10px;
	padding: 15px;
}

.col-md-9 {
	border-right: 1px solid $line-color;
	padding-left: 0;
	padding-right: 0;
}

#main h2:not(:first-of-type) {
	border-top: 1px solid $line-color;
	padding-top: 10px;
}

#main h2:first-of-type, #main h1:first-of-type {
	margin-top: 0;
}

#main h2 {
	margin-bottom: 0;
}

.postDate {
	font-style: italic;
	color: $line-color;
	padding-bottom: 10px;
}

p {
	margin: 0 15px 10px;
	text-align: justify;
}

blockquote {
	text-align: justify;
}

/* aside */

#st-search-input {
	font-size: 12px;
	padding: 4px 9px 4px 27px;
	color: #666;
	border: 1px solid #ccc;
	outline: none;
	margin-top: 20px;
	height: 30px;
	width: 90%;
	border-radius: 15px;
	-webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.17);
	-moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.17);
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.17);
}

#twitter-widget-0 {
	margin: 10px 0;
	background-image: linear-gradient(#fff,#dedede);
	color: #333;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	border-radius: 4px;
}

.table-centered {
	margin: 0 15px 10px;
	text-align: center;
}

.table-centered td {
	vertical-align: middle !important;
}

aside ul {
	padding-left: 20px;
}

#social-media i {
	font-size: 40px;
	margin-left: 20px;
}

// .col-xs-3 h2:first-of-type {
// 	margin-top: -10px;
// }