/* header area */

$header-bg: #2E303C;
$header-height: 4em;
$link-color-light: #886E69;
$link-color: #482B25;
$date-color: #CF7FF4;
$line-color: #86CB92;

header {
	background-color: $header-bg;
	height: $header-height;
	width: 100%
}

header a, 
header a:hover,
header a:focus,
header a:active {
	color: #FFF;
	text-decoration: none;
}

nav a, #logo {
	padding: 0 10px;
	line-height: $header-height;
}

/* homepage body */

body {
	clear: both;
}

a {
	color: $link-color-light;
}

a:hover,
a:focus,
a:active {
	color: $link-color;
	text-decoration: none;
}

#main {
	padding: 0 15px;
}

.col-md-9 {
	border-right: 1px solid $line-color;
}

h2:not(:first-of-type) {
	border-top: 1px solid $line-color;
	padding-top: 10px;
}

#main h2 {
	margin-bottom: 0;
}

.postDate {
	font-style: italic;
	color: $line-color;
	padding-bottom: 10px;
}

p {
	margin: 0 15px 10px;
}