<div id="matt-photo"><div></div></div>

<p>Math Goes Pop began while I was a graduate student at UCLA. With Hollywood glitz and glamour so close by, I coulnd't help but search for links between mathematics and popular culture. Here I write about those links as I find them, in the hopes that I can make mathematics more exciting and less terrifying to a general auidence.</p>

<p>I manage to stay off the streets by teaching web development at <a href="https://www.rithmschool.com">Rithm School</a>, which I co-founded in 2016. Prior to that, I helped write awesome math lessons at <a href="http://www.mathalicious.com/">Mathalicious</a>, where I worked after receiving my Ph.D. in Mathematics from UCLA in 2012. You can find other examples of my writing on the <a href="http://blog.mathalicious.com/author/matt/" target="_blank">Mathalicious blog</a>, on <a href="http://lightyears.blogs.cnn.com/tag/matthew-lane-special-to-cnn/" target="_blank">CNN</a>, or on the dozens of scraps of paper I'm always leaving around the house.</p>

<p>In 2017, I released my first book, which is available on <a href="https://www.amazon.com/Power-Up-Unlocking-Hidden-Mathematics-Video/dp/0691161518/" target="_blank">Amazon.com</a> or wherever you you go for all of your book needs. The book is titled <em>Power-Up: Unlocking the Hidden Mathematics in Video Games</em>, and was based on ideas I had while writing this blog.</p>

<p>Want to get in touch? You can find me on twitter <a href="https://twitter.com/mmmaaatttttt">@mmmaaatttttt</a>.</li>

<p>I look forward to e-meeting you!</p>
<p>Best,</p>
<p>Matt</p>